// Specific CSS for your home-page
.card-suggestion {
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 335px;
  display: flex;
  justify-content: start;
  align-items: end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px;
  padding-left: 16px;
}
.curacao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.segment {
  padding: 16px;
}
.h2 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 16px;
  padding-left: 16px;
}
.carousel-item.active {
  justify-content: center;
}

.carousel-inner {
  margin: auto;
}
.link {
  text-decoration: none!important;
}
