@import 'components/_white_button.scss';
@import "components/_black_button.scss";

.show-gallery {
  display: flex;
  flex-direction: row;
}

.images-show-big  {
  height: 400px;
  width: 100%;
}

.images-show-big img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 5px 5px 5px 0;
}

.images-show-small {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  margin-left: 15px;
}

.smaller-images-show {
  width: 50%;
  height: 100%;
  padding: 5px;
}

.smaller-images-show img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

