@import 'components/_white_button.scss';
@import "components/_black_button.scss";
@import 'components/_suggestion_card.scss';
.pshowtrip {
  font-size: 18px!important;
  margin-top: 43px;
  margin-left: 43px;
  margin-right: 43px;
}

.h2showtripclass {
  margin-top: 16px;
  margin-bottom: 16px;
}

.show-gallery {
  display: flex;
  flex-direction: row;
}

.images-show-big  {
  height: 400px;
  width: 100%;
}

.images-show-big img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 5px 5px 5px 0;
}

.images-show-small {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  margin-left: 15px;
}

.smaller-images-show {
  width: 50%;
  height: 100%;
  padding: 5px;
}

.smaller-images-show img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.dates {
  margin-left: 0px!important;
  margin-right: 0px!important;
  margin-top: 0px!important;
}
#submit-btn {
  // background-color: #000000; /* Make the submit button lighter so it stands out against the white background */
  color: rgb(255, 255, 255)!important;
  width: 50px!important;
  background-color: $black!important;
  color: $white!important;
  border-color: $black!important;
  transition: all 0.45s ease!important;
  &:hover {
    background-color: $white!important;
    color: $black!important;
    border-color: $black!important;
  }
  i {
    font-size: 15px!important;
  } /* Make the icon color darker so it stands out against the lighter background */
}
