<div class="footer">
  <div class="footer-empty w-100 h-30"></div>
  <div class="footer-container">
    <div class="footer-logo">
      <%= image_tag "logo.png" %>
    </div>
    <div class="footer-menu">
      <h2>Menu</h2>
      <p>Home</p>
      <p>Discover</p>
      <p>About us</p>
    </div>
    <div class="contact-info">
      <h2>Contact info</h2>
      <p>info@travellian.com</p>
      <p>1081 TG Amsterdam, Netherlands</p>
    </div>
    <div class="footer-social-media">
      <h2>Follow us on</h2>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-facebook"></i></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
