
<div class="aboutuscontainer d-flex flex-column" style="margin-top: 90px; margin-bottom: 80px; margin-left:100px; margin-right: 100px;">
  <h1 class="my-4" style="padding-top: 33px; padding-left: 33px;padding-right: 33px;"> About us</h1>
  <div class="d-flex justify-content-center align-items-center">
    <h3 style="padding: 30px;">Once upon a time, in the bustling heart of a vibrant city, three and a half, almost four, Eastern European individuals embarked on a journey fueled by their shared passion for exploration and connection.<br><br>
    Their names whispered with reverence among fellow travelers and dreamers alike, for they were the architects behind a platform that breathed life into wanderlust-stricken souls and transformed the way people experienced the world.</h3>
    <%= image_tag("us.jpg", alt: "us", height: '400', width: 'auto') %>
  </div>
  <h4 style="padding-top: 33px; padding-left: 33px;padding-right: 33px;"> Team: Kristofers Kaprāns, Jānis Ivdris, David Ponte and Nevena Pančić </h4>
  <div class="d-flex justify-content-end align-items-center mb-4">
    <h5 style="margin-right:20px; margin-top:10px;">Support us on our Patreon</h5>
    <%= button_to 'Donate', '#', class: 'btn btn-outline-black big-button' %>


  </div>

</div>
