.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  margin-top: 45px;
  height: 241px;
  color: white;
  padding: 68px;
  font-size: medium;
}
.footer-logo img{
  width: auto;
  height: 195px;
  padding-left: 17px;
}

.footer-social-media {
  margin-right: 30px;
}

.footer-social-media i {
  color: #f2f1f1;
  font-size: 30px;
  padding : 10px;
}
