.navbar {
  padding: 0;
  justify-content: space-between;
}

.navbar-solid {
  background: rgb(5, 4, 4);
  color: white;
}

.navbar-solid .navbar-collapse {
  flex-grow: 0;
}

.navbar-solid .navbar-brand img {
  width: 40px;
}
