.navbar {
  display: flex;
  padding: 0;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, black, rgba(255, 255, 255, 0));
  transition: background-color 0.5s ease;
  height: 80px;
}

// .navbar-solid {
//   background: rgb(5, 4, 4);
//   color: white;
// }

.navbar-solid .navbar-collapse {
  flex-grow: 0;
}

.navbar-solid .navbar-brand img {
  width: 40px;
}

.nav-item {
  display: flex;
  margin: 0 10px;
  align-items: center;
}

.nav-item img {
  width: 48px;
  height: 48px;
  margin-right: 5px;
  text-align: center;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: #6f6f6f;
}

.nav-item img:hover {
  color: #6f6f6f;
}
