
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,700;1,400&display=swap');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import 'pages/dashboard';

//loading bar default stay hidden
// #loading-bar {
//   display: none;
// }
// body {
//   font-family: "Montserrat" !important, sans-serif !important;
//   font-optical-sizing: auto !important;
//   font-weight: 400 !important;
//   font-style: normal !important;
// }
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
